#dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--mainBackgroundColor);
}

#greeting {
    padding: 1rem;
    border-bottom: 1px solid var(--borderColor);
    color: var(--mainForegroundColor);
}

#task-container {
    position: relative;
    height: 100%;
    width: 100%;
    scrollbar-gutter: auto;
    display: flex;
    flex-direction: column;
}

#add-task {
    margin: 0 16px 16px 0;
    height: 50px;
    width: 50px;
    font-size: 1.5em;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

#add-task:hover {
    background-color: lightgray;
}
