#task-dialog,
#edit-dialog {
    padding: 16px;
    width: 550px;
    height: 310px;
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 3px solid var(--borderColor);
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#task-title,
#task-description,
#task-dueDate,
#edit-task-title,
#edit-task-description,
#edit-task-dueDate {
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    font-size: 1.1rem;
}

#task-form,
#edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    margin-bottom: 10px;
}

#task-priority,
#edit-task-priority {
    display: flex;
    gap: 10px;
}

#task-priority>*,
#edit-task-priority>* {
    flex: 1;
    height: 40px;
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

#save-task,
#save-edited-task {
    padding: 5px;
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

#close-dialog,
#close-edit-dialog {
    padding: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

#task-priority>*:hover,
#edit-task-priority>*:hover,
#save-task:hover,
#save-edited-task:hover,
#close-dialog:hover,
#close-edit-dialog:hover {
    background-color: var(--hoverColor);
}
