#menu {
    padding: 8px 16px;
    width: 13%;
    border-right: 1px solid var(--borderColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--mainBackgroundColor);
}

img#menu-icon {
    height: 40px;
    width: 40px;
}

#menu>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#menu>ul>li {
    margin-bottom: 10px;
}

#menu>ul>li>button {
    text-align: left;
    font-size: 1rem;
    border: 0;
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
}

#menu>ul>li>button:hover {
    text-decoration: underline;
}

#bottom-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#remove-completed {
    padding: 5px;
    background-color: #cf2317;
    color: white;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

#remove-completed:hover {
    background-color: #9c231a;
}

#toggle-theme {
    background-color: var(--mainBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#toggle-theme:hover {
    background-color: var(--hoverColor);
}

#toggle-theme>img {
    height: 40px;
    width: auto;
    align-self: center;
}
