#menu {
    padding: 8px 16px;
    width: 13%;
    border-right: 1px solid var(--borderColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu-icon {
    height: 40px;
    width: 40px;
}

#menu>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#menu>ul>li {
    margin-bottom: 10px;
}

.menu-item {
    text-align: left;
    font-size: 1rem;
    border: 0;
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
}

.menu-item:hover {
    text-decoration: underline;
}

#show-projects {
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 0;
    font-size: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#bottom-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#remove-completed {
    padding: 5px;
    background-color: #cf2317;
    color: white;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

#remove-completed:hover {
    background-color: #9c231a;
}

#toggle-theme {
    background-color: var(--mainBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#toggle-theme:hover {
    background-color: var(--hoverColor);
}

#toggle-theme>img {
    height: 40px;
    width: 40px;
    align-self: center;
}

.hover-button {
    font-size: 1rem;
    text-align: left;
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 0;
}

.hover-button:hover {
    text-decoration: underline;
}

#add-project-dialog,
#remove-project-dialog {
    padding: 16px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 1px solid var(--borderColor);
}

#add-project-dialog>button,
#remove-project-dialog>button {
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    padding: 2px;
}

#add-project-dialog>button:hover,
#remove-project-dialog>button:hover {
    background-color: var(--hoverColor);
}

#add-project-form,
#remove-project-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#add-project-form>*,
#remove-project-form>* {
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
}

#add-project-form>button,
#remove-project-form>button {
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    padding: 2px;
}

#add-project-form>button:hover,
#remove-project-form>button:hover {
    background-color: var(--hoverColor);
}

#select-project,
#remove-project,
#select-new-project {
    background-color: var(--mainBackgroundColor);
    color: var(--mainForegroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    padding: 2px;
}

#select-project:hover,
#remove-project:hover,
#select-new-project:hover {
    background-color: var(--hoverColor);
}
