* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    font-size: 16px;
    min-height: 100vh;
}

#task-dialog {
    padding: 16px;
    width: 550px;
    height: 300px;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#task-title,
#task-description,
#task-dueDate {
    font-size: 1.1rem;
}

#task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    margin-bottom: 10px;
}

#task-priority {
    display: flex;
    gap: 10px;
}

#task-priority>* {
    flex: 1;
    height: 40px;
}

#save-task {
    padding: 5px;
}

#close-dialog {
    padding: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}
