@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat.woff2");
}

* {
    font-family: "Montserrat", serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    font-size: 16px;
    min-height: 100vh;
}
