@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat.woff2");
}

:root {
    --mainBackgroundColor: #FFFFFF;
    --mainForegroundColor: #000000;
    --hoverColor: #B8B8B8;
    --borderColor: #161616;
}

* {
    font-family: "Montserrat", serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    font-size: 16px;
    min-height: 100vh;
}
